/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --fs-100: 0.7rem;
  --fs-200: 0.75rem;
  --fs-300: 0.844rem;
  --fs-400: 0.89rem;
  --fs-500: 0.9rem;
  --fs-550: 1rem;
  --fs-800: 1.075rem;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #070439;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
.nav_link,
.btn {
  font-family: "Raleway", sans-serif;
}

h3,
.h3 {
  font-size: 1.05rem;
}

p {
  font-size: var(--fs-400);
}

.lead {
  font-size: 1.05rem;
}

.grid-container,
.container {
  width: max(325px, 82vw);
  margin-inline: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-12 {
  grid-column: span 12;
}

.flex {
  display: flex;
  align-items: center;
}

.nav {
  margin-top: 23px;
}

.header {
  margin-top: 95px;
}

.main {
  margin-top: 90px;
}

.cta {
  margin-top: 80px;
}

.footer {
  padding-top: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  width: 80px;
}
.nav_link {
  font-size: var(--fs-200);
  font-weight: 700;
  color: #585989;
  text-decoration: none;
}
.nav_link + .nav_link {
  margin-left: 25px;
}

.header h1,
.header p {
  text-align: center;
  text-shadow: 0 0 #070439;
}
.header img {
  margin-bottom: 30px;
}
.header h1 {
  line-height: 1.5;
}
.header p {
  margin-block: 30px;
  padding-inline: 15px;
  font-size: var(--fs-500);
}
.header form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-inline: 10px;
}

.btn {
  padding: 10px;
  border: none;
  background-color: #3065f8;
  font-size: var(--fs-300);
  font-weight: 700;
  color: #f6f6fe;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

input,
.btn {
  border-radius: 3px;
}

input {
  padding: 8px 20px;
  line-height: 1;
  border: 1px solid #070439;
}
input::placeholder {
  font-size: var(--fs-200);
  color: #bfbfbf;
}

.main section:first-child {
  padding-top: 90px;
  background-image: url(../images/bg-curve-mobile.svg), linear-gradient(#f6f6fe, White);
  background-repeat: no-repeat;
  background-position: top, center 50px;
}
.main_img {
  margin-bottom: 85px;
}
.main_text > * + * {
  margin-top: 22px;
}
.main_text h2 {
  text-align: center;
}
.main_text p {
  color: #585989;
  line-height: 1.4;
}
.main_link {
  gap: 10px;
  justify-content: center;
  margin: 35px 0 50px;
}
.main_link a {
  position: relative;
  font-size: var(--fs-200);
  color: #3c9f8f;
  text-decoration: none;
}
.main_link a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 135px;
  border-bottom: 1px solid #3c9f8f;
}

.testimonial {
  margin-inline: auto;
  max-width: 280px;
  padding-block: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 10px;
  border-radius: 5px;
  font-size: var(--fs-100);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.testimonial > * + * {
  margin-top: 8px;
}

.author {
  line-height: 1.2;
}
.author img {
  width: 25px;
  margin-right: 8px;
  border-radius: 50%;
}
.author_name {
  font-size: 0.65rem;
  font-weight: 700;
}
.author_position {
  font-size: 0.5rem;
}

.cta {
  padding-block: 60px;
  background-color: #585989;
  text-align: center;
}
.cta_text {
  color: #f6f6fe;
  padding-inline: 15px;
}
.cta_text > * + * {
  margin-top: 15px;
}
.cta_text h2 {
  font-size: var(--fs-800);
}
.cta_form {
  margin-top: 20px;
}
.cta_form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 78%;
  margin-inline: auto;
}
.cta_form input {
  border: none;
}
.cta_form .btn {
  font-size: var(--fs-100);
}

.footer {
  background-color: #070439;
  color: #f6f6fe;
}
.footer .grid-container {
  display: grid;
  row-gap: 45px;
}
.footer_logo svg path {
  fill: white;
}
.footer .flex {
  gap: 20px;
}
.footer_contacts > * + * {
  margin-top: 15px;
}
.footer_contacts p {
  font-size: var(--fs-550);
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}
.footer-nav_link {
  text-decoration: none;
  color: #f6f6fe;
}

.social {
  justify-content: center;
}
.social div {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f6f6fe;
  border-radius: 50%;
  padding: 7px;
}
.social div:first-child {
  padding: 9px;
}
.social svg path {
  fill: #f6f6fe;
}

.attribution {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .container,
.md\:grid-container {
    width: min(1280px, 90vw);
  }

  .md\:grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    grid-auto-flow: dense;
  }

  .md\:col-1 {
    grid-column: span 1;
  }

  .md\:col-3 {
    grid-column: span 3;
  }

  .md\:col-4 {
    grid-column: span 4;
  }

  .md\:col-5 {
    grid-column: span 5;
  }

  .md\:col-6 {
    grid-column: span 6;
  }

  .md\:col-7 {
    grid-column: span 7;
  }

  .md\:col-12 {
    grid-column: span 12;
  }

  .md\:col-1-to-8 {
    grid-column: 1/8;
  }

  .md\:col-8-to-13 {
    grid-column: 8/13;
  }

  .md\:col-1-to-7 {
    grid-column: 1/7;
  }

  .md\:col-7-to-13 {
    grid-column: 7/13;
  }

  .md\:col-8-to-13 {
    grid-column: 8/13;
  }

  .cta .md\:grid-container {
    align-items: start;
  }

  .md\:justify-center {
    justify-self: center;
  }

  .header h1,
.header p {
    text-align: left;
  }
  .header form {
    flex-direction: row;
  }
  .header img {
    margin: 0;
  }

  .main section:first-child {
    background-image: url(../images/bg-curve-desktop.svg), linear-gradient(#f6f6fe, White);
    background-position: top, 0 70px;
    background-size: 100% 100px, cover;
  }
  .main h2,
.main p {
    text-align: left;
  }
  .main_link {
    justify-content: start;
  }

  .testimonial {
    margin-inline-start: 0;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-100: 0.85rem;
    --fs-400: 1rem;
  }

  .header {
    margin-top: 80px;
  }

  .main {
    margin-top: 200px;
  }

  .nav {
    margin-top: 65px;
  }
  .nav_logo {
    width: 166px;
  }
  .nav_link {
    font-size: 1.055rem;
  }

  .header {
    margin-top: 70px;
  }
  .header h1 {
    font-size: 2.55rem;
    padding-inline-end: 40px;
    line-height: 1.45;
  }
  .header p {
    margin: 15px 0 25px;
    padding-inline-start: 0;
    padding-inline-end: 120px;
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .header form {
    padding-inline: 0;
  }
  .header form input {
    width: 320px;
    line-height: 1.6;
  }
  .header form input::placeholder {
    font-size: 0.9rem;
  }
  .header form .btn {
    width: 200px;
  }

  .main section:first-child {
    padding-top: 150px;
  }
  .main_text > * + * {
    margin-top: 20px;
  }
  .main_text p {
    color: #070439;
    padding-inline-end: 200px;
  }
  .main h2 {
    font-size: 2.55rem;
    line-height: 2;
  }
  .main_link a {
    font-size: var(--fs-400);
  }
  .main_img {
    margin: 0;
  }

  .testimonial {
    max-width: 355px;
    padding: 30px !important;
  }
  .testimonial > * + * {
    margin-top: 15px;
  }
  .testimonial > img {
    height: 15px;
  }

  .author img {
    height: 30px;
    width: 30px;
  }
  .author_name {
    font-size: 0.7rem;
    text-shadow: 0 0 black;
  }
  .author_position {
    font-size: 0.65rem;
  }

  .cta {
    margin-top: 105px;
    padding-block: 95px;
  }
  .cta h2 {
    font-size: 1.95rem;
  }
  .cta_text {
    padding: 0;
    padding-inline-end: 40px;
  }
  .cta_text > * + * {
    margin-top: 0;
  }
  .cta_form form {
    max-width: 100%;
    margin-inline: 0;
    align-items: start;
    gap: 15px;
  }
  .cta_form form input,
.cta_form form .btn {
    padding-block: 12px;
  }
  .cta_form form input {
    width: 480px;
  }
  .cta_form form .btn {
    width: 200px;
  }

  .footer {
    padding-top: 110px;
  }
  .footer .grid-container {
    row-gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
