.grid-container,
.container {
  width: max(325px, 82vw);
  margin-inline: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-12 {
  grid-column: span 12;
}

.flex {
  display: flex;
  align-items: center;
}

.nav {
  margin-top: 23px;
}

.header {
  margin-top: 95px;
}

.main {
  margin-top: 90px;
}

.cta {
  margin-top: 80px;
}

.footer {
  padding-top: 60px;
}
