@media (min-width: 768px) {
  // Layout
  .container,
  .md\:grid-container {
    width: min(1280px, 90vw);
  }

  .md\:grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    grid-auto-flow: dense;
  }

  .md\:col-1 {
    grid-column: span 1;
  }
  .md\:col-3 {
    grid-column: span 3;
  }
  .md\:col-4 {
    grid-column: span 4;
  }
  .md\:col-5 {
    grid-column: span 5;
  }
  .md\:col-6 {
    grid-column: span 6;
  }
  .md\:col-7 {
    grid-column: span 7;
  }
  .md\:col-12 {
    grid-column: span 12;
  }

  .md\:col-1-to-8 {
    grid-column: 1 / 8;
  }
  .md\:col-8-to-13 {
    grid-column: 8 / 13;
  }
  .md\:col-1-to-7 {
    grid-column: 1 / 7;
  }
  .md\:col-7-to-13 {
    grid-column: 7 / 13;
  }
  .md\:col-8-to-13 {
    grid-column: 8 / 13;
  }

  .cta {
    .md\:grid-container {
      align-items: start;
    }
  }

  .md\:justify-center {
    justify-self: center;
  }

  // Components:
  .header {
    form {
      flex-direction: row;
    }

    img {
      margin: 0;
    }
  }
}

@media (min-width: 992px) {
  // Layout:
  .header {
    margin-top: 80px;
  }

  // Components:
  .nav {
    &_logo {
      width: 166px;
    }

    &_link {
      font-size: 1.055rem;
    }
  }

  .header {
    h1,
    p {
      text-align: left;
    }
    h1 {
      font-size: 2.55rem;
      padding-inline-end: 40px;
    }
    p {
      font-size: 1.1rem;
      padding-inline-end: 120px;
    }
    form {
      input {
        width: 320px;
      }

      .btn {
        width: 200px;
      }
    }
  }
}
