@media (min-width: 768px) {
  // Layout
  .container,
  .md\:grid-container {
    width: min(1280px, 90vw);
  }

  .md\:grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    grid-auto-flow: dense;
  }

  .md\:col-1 {
    grid-column: span 1;
  }
  .md\:col-3 {
    grid-column: span 3;
  }
  .md\:col-4 {
    grid-column: span 4;
  }
  .md\:col-5 {
    grid-column: span 5;
  }
  .md\:col-6 {
    grid-column: span 6;
  }
  .md\:col-7 {
    grid-column: span 7;
  }
  .md\:col-12 {
    grid-column: span 12;
  }

  .md\:col-1-to-8 {
    grid-column: 1 / 8;
  }
  .md\:col-8-to-13 {
    grid-column: 8 / 13;
  }
  .md\:col-1-to-7 {
    grid-column: 1 / 7;
  }
  .md\:col-7-to-13 {
    grid-column: 7 / 13;
  }
  .md\:col-8-to-13 {
    grid-column: 8 / 13;
  }

  .cta {
    .md\:grid-container {
      align-items: start;
    }
  }

  .md\:justify-center {
    justify-self: center;
  }

  // Components:
  .header {
    h1,
    p {
      text-align: left;
    }

    form {
      flex-direction: row;
    }

    img {
      margin: 0;
    }
  }

  .main {
    h2,
    p {
      text-align: left;
    }
  }
}

@media (min-width: 992px) {
  // Typography:
  :root {
    --fs-100: 0.85rem;
    --fs-400: 1rem;
  }
  // Layout:
  .header {
    margin-top: 80px;
  }
  .main {
    margin-top: 200px;
  }

  // Components:
  .nav {
    margin-top: 65px;

    &_logo {
      width: 166px;
    }

    &_link {
      font-size: 1.055rem;
    }
  }

  .header {
    margin-top: 70px;

    h1 {
      font-size: 2.55rem;
      padding-inline-end: 40px;
      line-height: 1.45;
    }
    p {
      margin: 15px 0 25px;
      padding-inline-start: 0;
      padding-inline-end: 120px;
      font-size: 1.1rem;
      line-height: 1.4;
    }
    form {
      padding-inline: 0;
      input {
        width: 320px;
        line-height: 1.6;
        &::placeholder {
          font-size: 0.9rem;
        }
      }

      .btn {
        width: 200px;
      }
    }
  }

  .main {
    section:first-child {
      padding-top: 150px;

      background-image: url(../images/bg-curve-desktop.svg),
        linear-gradient($Light-Grayish-Blue, White);
      background-position: top, 0 70px;
      background-size: 100% 100px, cover;
    }

    &_text {
      > * + * {
        margin-top: 20px;
      }

      p {
        padding-inline-end: 200px;
      }
    }

    h2 {
      font-size: 2.55rem;
      line-height: 2;
    }

    p {
      color: $Very-Dark-Blue;
    }

    &_link {
      justify-content: start;
      a {
        font-size: var(--fs-400);
      }
    }

    &_img {
      margin: 0;
    }
  }

  .testimonial {
    max-width: 355px;
    margin-inline-start: 0;
    padding: 30px !important;

    > * + * {
      margin-top: 15px;
    }

    > img {
      height: 15px;
    }
  }

  .author {
    img {
      height: 30px;
      width: 30px;
    }
    &_name {
      font-size: 0.7rem;
      text-shadow: 0 0 black;
    }
    &_position {
      font-size: 0.65rem;
    }
  }
}
