@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
  --fs-100: 0.7rem;
  --fs-200: 0.75rem;
  --fs-300: 0.844rem;
  --fs-400: 0.89rem;
  --fs-500: 0.9rem;
  --fs-800: 1.075rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $Very-Dark-Blue;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
.nav_link,
.btn {
  font-family: 'Raleway', sans-serif;
}

h3,
.h3 {
  font-size: 1.05rem;
}

p {
  font-size: var(--fs-400);
}

// Utility
.lead {
  font-size: 1.05rem;
}
