// ## Colors

// ### Primary

$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);

// ### Accent

$Bright-Blue: hsl(224, 93%, 58%);
$Bright-Blue-300: hsl(224, 93%, 75%);
$Moderate-Cyan: hsl(170, 45%, 43%);
$Moderate-Cyan-300: hsl(170, 45%, 65%);

// ### Neutral

$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);
