.btn {
  padding: 10px;
  border: none;

  background-color: $Bright-Blue;

  font-size: 0.84rem;
  font-weight: 700;
  color: $Light-Grayish-Blue;

  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
}
