.btn {
  padding: 10px;
  border: none;

  background-color: $Bright-Blue;

  font-size: var(--fs-300);
  font-weight: 700;
  color: $Light-Grayish-Blue;

  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $Bright-Blue-300;
  }
}

input,
.btn {
  border-radius: 3px;
}

input {
  padding: 8px 20px;
  line-height: 1;

  &::placeholder {
    font-size: var(--fs-200);
    color: $Light-Gray;
  }

  border: 1px solid $Very-Dark-Blue;

  &:invalid {
    border-color: palevioletred;
  }

  &:invalid + p {
    display: block;
  }

  &:valid + p {
    display: none;
  }
}

form .error {
  margin: 0;
  padding: 0;

  color: palevioletred;
  text-align: left;
}
