.header {
  h1,
  p {
    text-align: center;
    text-shadow: 0 0 $Very-Dark-Blue;
  }

  img {
    margin-bottom: 30px;
  }

  h1 {
    line-height: 1.5;
  }

  p {
    margin-block: 30px;
    padding-inline: 15px;
    font-size: var(--fs-500);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding-inline: 10px;
  }
}
