.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_logo {
    width: 80px;
  }

  &_link {
    & + & {
      margin-left: 25px;
    }
    font-size: var(--fs-200);
    font-weight: 700;
    color: $Desaturated-Blue;

    text-decoration: none;
  }
}
